@{
    ViewBag.Title = "留言板";
    Layout = "~/Views/Shared/_MessageBoardLayout.cshtml";
}
<div class="layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-header">
            <h2>留言板</h2>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-nickname"></label>
                <input title="姓名" type="text" name="nickname" id="LAY-user-login-nickname" lay-verify="required|nickname" placeholder="姓名" class="layui-input" maxlength="20">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-cellphone" for="LAY-user-login-cellphone"></label>
                <input title="手机号码" type="text" name="cellphone" id="LAY-user-login-cellphone" lay-verify="required|phone" placeholder="手机" class="layui-input" maxlength="11">
            </div>
            <div class="layui-form-item">
                <div class="layui-col-md12">
                    <textarea title="留言" name="messageInfo" placeholder="留言给我们，请输入120以内的文字" class="layui-textarea" maxlength="120" id=""></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <input class="layui-input" name="sourceurl" value="" type="hidden" />
                <input class="layui-input" name="isVerCode" value="0" type="hidden" />
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-reg-submit" style="background-color: #dc233f;">留 言</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        layui.use('form', function () {
            var form = layui.form;
            //监听提交
            form.on('submit(LAY-user-reg-submit)', function (data) {
                data.field.sourceurl = document.referrer;
                var actionUrl = '@Url.Action("SubmitMessageBoardInfo")';
                $.post(actionUrl, data.field, function (result) {
                    if (result.Success != null && result.Success) {
                        layer.alert("留言成功");
                        return;
                    }
                    else {
                        layer.alert("留言失败！致电我们：12345698212");
                        return;
                    }
                });
            });
        });
</script>
